<!--{% extends 'nbhood_watch/base.html' %}-->
<!--{% load static %}-->
<!--{% block title %}Home{% endblock title%}-->

<!--{% block image %}-->
<!--<div class="main-image">-->
<!--    <img src="{% static 'nbhood_watch/images/lawnfall_enhanced.jpg' %}" alt="Main Image">-->

<!--    <div class="overlay" style="position: absolute; top: 12%; left: 50%; transform: translate(-50%, -50%); text-align: center; text-shadow: 1px 1px 0 #fff;">-->
<!--        <h3 class="text-center header-title" style="font-size: 36px;">Wahoos Watching Out</h3>-->
<!--    </div>-->
<!--    <div class="overlay" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); text-align: center;">-->
<!--        <h3 class="text-center header-title" style="font-size: 48px; text-shadow: 1px 1px 0 #fff;">Help Keep Our Community Safe!</h3>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock image %}-->

<!--{% block content %}-->
<!--<div class="overlay">-->
<!--        <br>-->
<!--        <h4 class="text-center header-title" style="color: white;">Welcome</h4>-->
<!--        <div class="social-container">-->
<!--            <a href="{% url 'social:begin' 'google-oauth2' %}?prompt=select_account" class="btn">Login With Google</a>-->
<!--            <a href="{% url 'nbhood_watch:anonymous_info' %}" class="btn">Login Anonymously</a>-->
<!--        </div>-->
<!--</div>-->
<!--<div class="scrolling-text">-->
<!--<br>-->
<!--    <p style="color: black; text-align: center;"> This is a space where we can have the stream of alerts. </p>-->
<!--    &lt;!&ndash; Add more paragraphs as needed &ndash;&gt;-->
<!--</div>-->
<!--{% endblock content %}-->
