{% extends 'nbhood_watch/base.html' %}
{% load static %}

{% block title %}Submission Details{% endblock title%}

{% block image %}
<div class="main-image">
    <img src="{% static 'nbhood_watch/images/lawnfall_enhanced.jpg' %}" alt="Main Image">
    <div class="overlay" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); text-align: center; text-shadow: 1px 1px 0 #fff;">
        <h3 class="text-center header-title" style="font-size: 48px; color: orangered; background-color: rgba(200, 200, 200, 0.45); padding: 10px; border-radius: 15px;">Submission Details</h3>
    </div>
</div>
{% endblock image %}

{% block content %}
<div class="d-flex justify-content-center gap-2">
      <a href="{% url 'nbhood_watch:user_history' %}" class="btn small-orange-btn wide-btn">Back to My History</a>
</div>
<div class="overlay" style="color: white">
    <br>
    <h4 class="text-center header-title" style="color: white;">Submission {{ submission.id }} by {{ submission.submission_user.email|default:"N/A" }}</h4>
    <p><strong>Submission Date:</strong> {{ submission.submission_date }}</p>
    <p><strong>Title:</strong> {{ submission.submission_title }}</p>
    <p><strong>Description:</strong> {{ submission.submission_description }}</p>
    <p><strong>Category:</strong> {{ submission.submission_category}}</p>
    <p><strong>Visibility Status:</strong> {{ submission.submission_visibility}}</p>

    {% if submission.files.all %}
        <p><strong>File:</strong></p>
        <ul>
            {% for file in submission.files.all %}
                <li><a href="{{ file.file.url }}" title="{{ file.file.name }}">{{ file.file.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p><strong>File:</strong> N/A</p>
    {% endif %}
    <p><strong>Review Status:</strong> {{ submission.submission_status}}</p>
    <p><strong>Verification Status:</strong> {{ submission.submission_verification}}</p>
    <p><strong>Admin Notes:</strong> {{ submission.submission_admin_notes}}</p>
    {% if submission.latitude and submission.longitude %}
        <p><strong>Submission Location:</strong></p> 
        <div id="map" style="width: 100%; height: 400px;"></div>
    {% else %}
        <p><strong>Submission Location:</strong> N/A</p>
    {% endif %}
</div>
<script>
function initMap() {
    var submissionLocation = {
        lat:  {{ submission.latitude }},
        lng:  {{ submission.longitude }}
    };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: submissionLocation
    });
    var marker = new google.maps.Marker({
        position: submissionLocation,
        map: map
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&loading=async&callback=initMap" async defer></script>
{% endblock content %}